<!-- primary container -->
<div class="container">
  <!-- nav stuff -->
  {{> nav-partial}}
  <br>
  <br>
  <!-- first row -->
  <div class="row" id="resultsWhite">
    <!-- map col -->
    <div class="col s12 m6">
      <div class="leaflet-div">
        <div id ="mapId"></div>

      </div>
      <div class="caption-row">
        <p>{{county}}</p>
      </div>
    </div>
    <!-- data col -->
    <div class="col s12 m6 left-align">
      <!-- top row -->
      <div class="row">
        <h1 id="county-name" data-fips={{fips_code}}>{{county}}</h1>
      </div>
      <!-- bottom row -->
      <div class="row">
        <!-- first col -->
        <div class="col s4 m12">
          <h6>Eligible Population</h6>
          <h5>{{total_elig_pop}}</h5>
        </div>
        <!-- second col -->
        <div class="col s4 m12">
          <h6>Registered Population</h6>
          <h5>{{total_regis_pop}}</h5>
        </div>
        <!-- third col -->
        <div class="col s4 m12">
          <h6>Turnout Rate</h6>
          <h5 id="turnout" data-nonPct={{total_turnout_pop_pct}}></h5>
        </div>
      </div>
    </div> <!-- end of the data col -->
  </div> <!-- end of the first row -->
  <!-- pie chart row -->
  <div class="row" id="chart">
    <!-- chart column -->
    <div class="col s12 m6">
      <div class="pie-chart">

      </div>
    </div>
    <!-- legend column -->
    <div class="col s12 m6 right-align">
      <!-- header row -->
      <div class="row">
        <h4>How Often Do Voters Actually Vote in {{county}} County?</h4>
      </div>
      <!-- desc row -->
      <div class="row">
        <p>Voter turnout only tells half the story. How many of the eligble voters are actually registered to vote in {{county}} County? How many of those registered voters actually cast a ballot? These are important questions in determining the efficacy of voter outreach and other efforts.</p>
        <p>The chart to the left shows the relationship between eligible voters, registerd voters, ballots cast, and gender in the 2016 General Election. Click on each slice of the pie to highlight relationships!</p>
      </div>
      <!-- legend row -->
      <div class="row valign-wrapper">
        {{> pie-legend}}
      </div>
    </div>
  </div>
  <!-- bar chart row -->
  <div class="row" id="resultsCounty" >
    <!-- legend column -->
    <div class="col s12 m6 left-align">
      <!-- header row -->
      <div class="row">
        <h4>How do {{county}} County voters compare to Washington State voters?</h4>
      </div>
      <!-- desc row -->
      <div class="row">
        <p>The graph to the right compares voters from {{county}} County and Washington State on three important metrics: </p>
        <ul>
          <li class="list">The percentage of eligible voters who voted in the 2016 election</li>
          <li class="list">The percentage of registered voters who voted in the 2016 election</li>
          <li class="list">The percentage of eligible voters who are registered to vote in 2016</li>
        </ul>
        <p>Notice the difference between Turnout by Eligible Voters and Turnout by Registered Voters. The disparity between these two metrics is crucial in determining the efficacy of voter outreach endeavors.</p>
        {{> bar-legend}}
      </div>
      <!-- buttons -->
      <!-- <div class="row">
        <div class="col s4 m4">
          <a class="waves-effect waves-light btn" id="total">Total</a>
        </div>
        <div class="col s4 m4">
          <a class="waves-effect waves-light btn" id="men">Men</a>
        </div>
        <div class="col s4 m4">
          <a class="waves-effect waves-light btn" id="women">Women</a>
        </div>
      </div> -->
    </div>
    <!-- chart column -->
    <div class="col s12 m6">
      <div class="bar-chart lef">
        <svg id="bar" width="500" height="400" style="float: right">

        </svg>
      </div>
    </div>
  </div>
  <!-- scatterplot row -->
  <div class="row" id="scatter-plot">
    <!-- left column -->
    <div class="col s12 m6">
      <div class="scatter">

      </div>
    </div>
    <!-- right column -->
    <div class="col s12 m6 right-align">
      <!-- header row -->
      <div class="row">
        <h4>How does population relate to turnout?</h4>
      </div>
      <!-- desc row -->
      <div class="row">
        <p>An interesting discussion is how turnout and population are linked. The graph to the right shows the relationship between population and turnout for each of the counties in Washington State. It is interesting to note how turnout decreases as population increases. Why this occurs is undoubtedly the subject of much research and discussion.</p>
        <p>{{county}} County is highlighted in red.</p>
      </div>
    </div>
  </div> <!-- close scatterplot row -->
</div>
